.scrollable-content {
  padding: 16px;
  margin: 0;
  height: calc(100vh - 132px);
}

.scroll-container {
  position: relative;
}

.example-spacer {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.mat-drawer-container {
  background-color: #fafafa;
  color: rgba(0, 0, 0, 0.87);
}

.mat-drawer-content {
  position: relative;
  z-index: 1;
  display: block;
  height: 100%;
  overflow: auto;
  background: white;
}

.mat-drawer-inner-container {
  width: 100%;
  height: 100%;
  overflow: hidden !important;
  -webkit-overflow-scrolling: touch;
}

.sidenav {
  width: 250px;
  overflow: hidden;
  border: none !important;
}

.inner-sidenav-content {
  height: calc(100vh - 80px) !important;
  padding: 8px;
}

.options {
  position: fixed;
  width: 250px;
  overflow: hidden;
}

.options .control {
  padding: 6px 14px;
}

.options .control div {
  padding: 6px 0;
}

.options .control h4 {
  border-bottom: 1px solid #ccc;
  margin: 12px 0 6px 0;
}

.options .control .skin-primary {
  width: 32px;
  height: 32px;
  padding: 0;
  overflow: hidden;
  cursor: pointer;
}

.options .control .skin-primary .skin-secondary {
  width: 0;
  height: 0;
  padding: 0;
  border-bottom: 32px solid;
  border-left: 32px solid transparent;
}

.options .control .skin-primary.indigo-light {
  background-color: #3F51B5;
  border: 1px solid #3F51B5;
}

.options .control .skin-primary.indigo-light .skin-secondary {
  border-bottom-color: #ececec;
}

.options .control .skin-primary.teal-light {
  background-color: #009688;
  border: 1px solid #009688;
}

.options .control .skin-primary.teal-light .skin-secondary {
  border-bottom-color: #ececec;
}

.options .control .skin-primary.red-light {
  background-color: #F44336;
  border: 1px solid #F44336;
}

.options .control .skin-primary.red-light .skin-secondary {
  border-bottom-color: #ececec;
}

.options .control .skin-primary.blue-dark {
  background-color: #0277bd;
  border: 1px solid #0277bd;
}

.options .control .skin-primary.blue-dark .skin-secondary {
  border-bottom-color: #262626;
}

.options .control .skin-primary.green-dark {
  background-color: #388E3C;
  border: 1px solid #388E3C;
}

.options .control .skin-primary.green-dark .skin-secondary {
  border-bottom-color: #262626;
}

.options .control .skin-primary.pink-dark {
  background-color: #D81B60;
  border: 1px solid #D81B60;
}

.options .control .skin-primary.pink-dark .skin-secondary {
  border-bottom-color: #262626;
}

.options .mat-radio-group {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.options .mat-radio-group .mat-radio-button {
  margin: 2px 0;
}

.options .mat-slide-toggle {
  height: auto;
}

.options .ps {
  height: calc(100% - 48px);
}

.op-image {
  -webkit-box-shadow: 0 0 2px #ccc;
          box-shadow: 0 0 2px #ccc;
  border: 2px solid;
  border-color: transparent;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.options-icon {
  position: fixed;
  top: 110px;
  right: 0;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  cursor: pointer;
  z-index: 999999;
}

.options-icon .mat-icon {
  -webkit-animation: spin 8s linear infinite;
  animation: spin 8s linear infinite;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.back-to-top {
  position: fixed;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 999999;
  right: 20px;
  bottom: 20px;
  opacity: .5;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 4px;
}

.back-to-top:hover {
  opacity: 0.9;
}

.search-bar form input {
  height: 28px;
  border: none;
  padding: 0;
  border-radius: 15px;
  outline: none;
  color: #444;
  width: 0;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.search-bar form input.show {
  padding: 0 8px;
  width: 250px;
}
/*# sourceMappingURL=appview.component.css.map */