<mat-sidenav-container class="authcontainer" >
    <mat-sidenav-content style="z-index: unset;overflow: hidden;" >
      <mat-toolbar  class="header-box-shadow" style="background: white"> 
           <img class="demoLogo" src="./assets/demo-logo.png">
           <!-- <span class="headerIcon"  (click)="goHome()">
              My Store
           </span>  -->
           <span class="spacer"></span> 
           
           <span class="signUpBtn"  (click)="login()" title="Login">Sign In</span> 
           <button type="button" class="signInBtn"   (click)="registration()">Join</button> 
     </mat-toolbar>  
    
    <!-- landing page contents here -->
    
     <!-- <img style="height: 90%;width: 100%" src="./assets/todo.jpg"> -->
  </mat-sidenav-content> 
  </mat-sidenav-container> 