<mat-toolbar>Schedules
    <button mat-icon-button (click)="addClick()">
        <mat-icon>add</mat-icon>
    </button>
</mat-toolbar> 
<div style="float: left;display: block;width: 280px;margin-top: 10px;margin-right: 10px;"  *ngFor="let schedule of schedules"> 
    <mat-card fxLayout="row" fxFlex="280px" fxLayoutGap="10px" style="height: 90px;"> 
        <div FxFlex fxLayout="column" fxLayoutAlign="space-evenly start">  
                <span class="fx-userName"  style="font-weight: bold">{{schedule.name}}</span>  
                <span class="fx-notifitext">{{schedule.datetime | date}}</span> 
                <span class="fx-notifitext">( {{schedule.instructor?.userName}} )</span>
        </div>
    </mat-card>  
</div> 
   
<mat-toolbar>
        My Rides
  </mat-toolbar> 
  <div style="float: left;display: block;width: 280px;margin-top: 10px;margin-right: 10px;"  *ngFor="let ride of rides"> 
  <mat-card fxLayout="row" fxFlex="280px" fxLayoutGap="10px" style="height: 140px;background: antiquewhite;"> 
          <div  style="width: 100%" FxFlex fxLayout="column" fxLayoutAlign="space-evenly start">  
              <span>Rider:<span class="fx-userName"  style="font-weight: bold">{{ride.rider?.userName}}</span> </span>  
              <span>scheduale:<span class="fx-notifitext" style="font-weight: bold">{{ride.scheduale?.name}}</span> </span>
              <span>Horse: 
                    <span *ngIf="ride.horse" class="fx-notifitext" style="font-weight: bold">{{ride.horse?.name}}</span>
                    <span *ngIf="!ride.horse">not added yet</span>
              </span>
              <mat-form-field appearance="fill" style="width: 100%;background: lightblue;font-weight: bold;height: 50px;">
                    <mat-label>Add Horse</mat-label>
                    <mat-select (selectionChange)="addHorse(ride,$event)">
                      <mat-option></mat-option>
                      <mat-option [value]="horse" *ngFor="let horse of horses">{{ horse.name }}</mat-option>
                    </mat-select>
                </mat-form-field>
              <!-- <button style="width: 100%;background: darkgray;color: white;font-weight: bold;" mat-button
                        (click)="addHorse(ride)">Add Horse</button> -->
          </div>
  </mat-card>  
  </div>  