<h2 mat-dialog-title style="text-align: center;margin-bottom: 50px;" class="appFont">Join Demosite</h2>
<form class="form"  name="form"  (ngSubmit)="f.form.valid && regContinue()" #f="ngForm" novalidate>
<div style="padding-left: 15px;">  
  <div id="form" style="width: 320px;">
      <fieldset style="border-bottom: none;border-left: none;border-right: none;margin-top: 25px;padding: 0px"> 
            <mat-form-field class="form-field" appearance="outline" style="margin-top: 50px;">
                <mat-label>Your Full Name</mat-label>
                <input matInput  name="fullName" id="fullName" [(ngModel)]="currentUser.fullName" #fullName="ngModel" required
                    placeholder="Full Name">  
            </mat-form-field> 

            <mat-form-field class="form-field" appearance="outline">
                <mat-label>Choose a Username</mat-label>
                <input matInput  name="userName" id="userName" [(ngModel)]="currentUser.userName" #userName="ngModel" required
                    placeholder="Username">  
            </mat-form-field> 
            <div *ngIf="f.submitted && !userName.valid" class="help-block">The User Name is required</div>
        
            <mat-form-field class="form-field"  appearance="outline">
                <mat-label>Choose a Password</mat-label>
                <input matInput type="password" name="password" id="password" [(ngModel)]="currentUser.password" #password="ngModel" required>
            </mat-form-field>
            <div *ngIf="f.submitted && !password.valid" class="help-block">The password is required</div>

      </fieldset>
  </div>    
  <button type="button" class="continue-button appFont"  type="submit"> 
    <p style="margin-left: 40px;">Continue</p>
  </button>  
</div>
</form>
<br>
<div style="margin-top: 10px;text-align: right;margin-right: 15px;"> 
  <span fxFlex></span> 
  Already a member? <a  (click)="login()" [routerLink]="['/session/forgot-password']">Sign In</a>
</div>  