.facebook-signing-button{
    width: 95%;
    font-size: 16px;
    font-weight: 600;
    color: #fff; 
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -ms-flex-pack: center; 
    background: #4267b2;
    border: 1px solid #4267b2;
    border-radius: 4px;
    padding: 10px 30px 0px 10px;
    cursor: pointer;
    margin-bottom: 10px;
}
.google-signing-button{
    width: 95%;
    font-size: 16px;
    font-weight: 600; 
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    background:white;
    -ms-flex-pack: center; 
    border-radius: 4px;
    padding: 10px 30px 0px 10px;
    cursor: pointer;
    margin-bottom: 10px;
    border: 1px solid darkblue;
}
.continue-button{
    width: 95%;
    font-size: 16px;
    font-weight: 600;
    color: #fff; 
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -ms-flex-pack: center; 
    background: green;
    justify-content: center; 
    border: 1px solid green;
    border-radius: 4px;
    padding: 10px 30px 0px 10px;
    cursor: pointer;
    margin-bottom: 10px;
}
.google-signing-button:hover{
    background: lightgray;
} 
.form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin-top: 25px;
} 
.form-field {
    width: 100%;
}